body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  line-height: 34px;
  height: 48px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.game {
  display: flex;
  flex-direction: row;
}

.dark-square{
  background-color: rgba(0, 0, 0, 0.5);
}

.light-square{
  background-color: rgba(0, 0, 0, 0.1);
}
